#alumno_encontrado_h2 {
  font-family: muli_regular, sans-serif;;
  padding-bottom: .3rem;
}
#alumno_encontrado {
  font-family: muli_regular, sans-serif;;
  display: flex;
  padding-top: .5rem;
  justify-content: space-between;
}

#foto_alumno {
  display: flex;
  align-items: center;
}

#foto_alumno img {
  width: 18rem;
}
#alumno_no_encontrado {
  display: flex;
  justify-content: center;
  font-family: muli_regular, sans-serif;
}

.dato_alumno_nombre {
  font-weight: bold;
}
