/* Estilos: ----------------------------------------- */
* {
	padding : 0;
	margin  : 0;
}

body {
	/*background-color : #2E2E2E;*/
	background-color : #FFFFFF;
}

a {
	text-decoration : none;
}

ul li a {
	color : #FFFFFF;
}

form hr {
	color : #FFFFFF;
}

h2 {
	font-size: 18px;
}


table {
	
}
